<header>
  <div>
    <a href="javascript:void(0)" class="logo">
      <p><i class="material-icons">all_inclusive</i>Admin<span>KA</span></p>
    </a>
    <a href="javascript:void(0)" class="menuBox">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </a>
  </div>
  <div class="toolNav">
    <div>
      <a href="javascript:void(0)" (click)="viewoptionNav($event)">
        <i class="material-icons">email</i>
        <div class="numBox">
          <span>4</span>
        </div>
        <ul class="">
          <li>
            <a href="javascript:void(0)">
              <img src="assets/images/usuario.jpg"/>
              <div class="infoBox">
                <h2>Area de TI</h2>
                <h3>Problema con mi monitor?</h3>
              </div>
              <div class="timeBox">
                <p><i class="material-icons">access_time</i>5 min</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <img src="assets/images/usuario.jpg"/>
              <div class="infoBox">
                <h2>Area de TI</h2>
                <h3>Impresora no imprime?</h3>
              </div>
              <div class="timeBox">
                <p><i class="material-icons">access_time</i>2 horas</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <img src="assets/images/usuario.jpg"/>
              <div class="infoBox">
                <h2>Area de TI</h2>
                <h3>No puedo ingresar a la Intranet?</h3>
              </div>
              <div class="timeBox">
                <p><i class="material-icons">access_time</i>Hoy</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <img src="assets/images/usuario.jpg"/>
              <div class="infoBox">
                <h2>Area de TI</h2>
                <h3>Windows, su lincencia ha vencido</h3>
              </div>
              <div class="timeBox">
                <p><i class="material-icons">access_time</i>Ayer</p>
              </div>
            </a>
          </li>
        </ul>
      </a>
    </div>
    <div>
      <a href="javascript:void(0)" (click)="viewoptionNav($event)">
        <i class="material-icons">notifications</i>
        <div class="numBox">
          <span>10</span>
        </div>
        <ul class="">
          <li>
            <a href="javascript:void(0)">
              <i class="material-icons iconNoti">warning</i>
              <div class="infoBox width100">
                <h3>3 incidencias sin atender</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="material-icons iconNoti">add_circle</i>
              <div class="infoBox width100">
                <h3>1 Se ha creado una nueva incidencia</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="material-icons iconNoti">add_circle</i>
              <div class="infoBox width100">
                <h3>5 nuevos usuarios creados</h3>
              </div>
            </a>
          </li>
        </ul>
      </a>
    </div>
    <div>
      <a href="javascript:void(0)" class="cerrarSession">
        <i class="material-icons">label_outline</i>
        <span>Cerrar Sessión</span>
      </a>
    </div>
  </div>  
</header>