aside
    height auto
    background #f9fafc
    line-height 1.5em
    width 100%
    padding-left 0px
    padding-top 10px
    padding-bottom 30px
    border-right 1px solid #d2d6de
    height calc(100vh - 54px)
    overflow hidden
    
    nav
        height auto
        background #f9fafc
        color #848484
        line-height 1.5em
        width auto
        box-shadow initial
        ul
            margin 0
            padding 0
            li
                float none
                transition initial
                a
                    display block
                    padding 0 15px
                    color #444
                    font-size 14px
                    font-weight 600
                    display flex
                    flex-direction row
                    flex-wrap nowrap
                    justify-content space-between
                    align-items center
                    + ul
                        display none
                    &.active
                        background #ed2553
                        i
                        span
                            color white
                        i
                            transform rotate(-90deg)
                        > div
                            i
                                transform none
                        
                    i
                        font-size 18px
                        transform 0.5s all ease
                    > div
                        i
                            font-size 16px
                        i
                        span
                            display inline-block
                            vertical-align middle
                            margin-right 8px

    h3
        font-family 'Open Sans'
        text-align left
        color #848484
        font-size 14px
        font-weight 300
        letter-spacing -.05em
        margin 20px 0 
        padding-left 15px
        background #f9fafc
    .usuarioBox
        padding-left 10px
        figure
        .datosUser
            display inline-block
            vertical-align middle
            margin-right 10px
        .datosUser
            h2, p
                font-family 'Open Sans'
                text-align left
                color #444
                font-size 14px
                font-weight 600
                letter-spacing -.05em
            p
                i
                span
                    display inline-block
                    vertical-align middle
                    margin-right 4px
                i
                    width 10px
                    height 10px
                    border-radius 100%
                    background #3c763d
                span
                    font-size 12px
                    font-weight 400
        figure
            img
                width 50px
                height 50px
                overflow hidden
                border-radius 100%
    figure
    h2
    p
        margin 0