<div class="resultadosBox">
    <div class="card rojo">
        <div class="card-content">
            <h2>Ticket para Hoy:</h2>
            <h3>0</h3>
        </div>
    </div>
    <div class="card celeste ">
        <div class="card-content">
            <h2>Total de Tickets:</h2>
            <h3>774</h3>
            <h4><span>Mes</span>Noviembre</h4>
        </div>
    </div>
    <div class="card verde">
        <div class="card-content">
            <h2>Tickets Atendidos:</h2>
            <h3>436</h3>
            <h4><span>Mes</span>Noviembre</h4>
        </div>
    </div>
    <div class="card amarrillo">
        <div class="card-content">
            <h2>Tickets sin Atender:</h2>
            <h3>338</h3>
            <h4><span>Mes</span>Noviembre</h4>
        </div>
    </div>
</div>
<app-grafico></app-grafico>