<div class="filtros">
  <div class="filRow">
      <div class="filColumn">
        <input type="text" placeholder="Buscar cliente ..." />
      </div>
  </div>
  <div class="filRow">
      <div class="filColumn">
        <div id="selectEstado" class="blockSelect"><span class="itemSelected">Estado</span>
          <ul class="listSelect">
            <li>Estado</li>
            <li>Atendido</li>
            <li>Sin Atender</li>
            <li>Revisando</li>
            <li>Cancelado</li>
          </ul><span class="lowerTriangle" ><i class="material-icons">arrow_drop_down</i></span>
        </div>
      </div>
  </div>
</div>
<table class="bordered highlight">
  <thead class="greyTable">
    <tr>
      <th>Cliente</th>
      <th>Área</th>
      <th>Fecha</th>
      <th>Incidencia</th>
      <th>Detalle</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jorge Espinoza</td>
      <td>Legal</td>
      <td>02-11-2017 12:00:12</td>
      <td>Impresora no Imprime</td>
      <td><a href="#"><i class="small material-icons">edit</i></a></td>
      <td><a href="#" class="revisando">Revisando</a></td>
    </tr>
    <tr>
      <td>Jessica Camarena</td>
      <td>Imágenes</td>
      <td>02-11-2017 12:00:12</td>
      <td>Maquina no prende</td>
      <td><a href="#"><i class="small material-icons">edit</i></a></td>
      <td><a href="#" class="sin-atender">Sin Atender</a></td>
    </tr>
    <tr>
      <td>Cesar Espinoza</td>
      <td>Marketing</td>
      <td>12-10-2017 12:00:12</td>
      <td>No puedo ingresar a mi intranet</td>
      <td><a href="#"><i class="small material-icons">edit</i></a></td>
      <td><a href="#" class="sin-atender">Sin Atender</a></td>
    </tr>
    <tr>
      <td>Jhon Florencio</td>
      <td>Programación</td>
      <td>11-10-2017 12:00:12</td>
      <td>Servicos no levanta</td>
      <td><a href="#"><i class="small material-icons">edit</i></a></td>
      <td><a href="#" class="atendido">Atendido</a></td>
    </tr>
    <tr>
      <td>Jorge Espinoza</td>
      <td>Legal</td>
      <td>02-11-2017 12:00:12</td>
      <td>Impresora no Imprime</td>
      <td><a href="#"><i class="small material-icons">edit</i></a></td>
      <td><a href="#" class="revisando">Revisando</a></td>
    </tr>
    
  </tbody>
</table>
<div class="paginacionBox">
  <div>
    <h3><span>100 </span>registros en total</h3>
  </div>
  <div>
    <a href=""><i class="material-icons">keyboard_arrow_left</i></a>
    <ul>
      <li>
        <a href="javascript:void(0)">1</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="active">2</a>
      </li>
      <li>
        <a href="javascript:void(0)">3</a>
      </li>
    </ul>
    <a href=""><i class="material-icons">keyboard_arrow_right</i></a>
  </div>
</div>
    